body {
    background-color: whitesmoke;
}

.everything {
    background-color: whitesmoke;
    font-size: large;
    margin: 0em 8em 0em 8em;
    font-family: Arial, sans-serif;
    line-height: 1.6em;
    text-align: justify;
}
  
  h1 {
    color: rgb(8, 110, 110);
    text-align: center;
    margin-bottom: 5rem;
    font-family: Arial, sans-serif;
  }

  h2 {
     color: rgb(10, 134, 134); 
     font-family: Arial, sans-serif;
  }

  h3 {
      color: rgb(87, 122, 82);
      margin-left: 50px;
      font-family: Arial, sans-serif;
  }

  h4 {
      color: darkseagreen;
      margin-left: 5px;
      font-family: Arial, sans-serif;
      font-size: larger;
  }

  h5 {
    text-align: center;
  }

  .selector {
      color: pink;
      font-family: Arial, Helvetica, sans-serif;
  }

  .new {
      color: palevioletred;
      background-image: url("https://images.unsplash.com/photo-1498252613819-c91e65dfc7bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
      background-size: cover;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2rem;
      
  }

  #anchoring {
      font-size: 1.5rem;
      text-align: center;
  }

  p {
      padding: .6rem;
  }

  .nav li {
      display: inline;
      padding: 0 30px;
  }

  .food {
      display: inline;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

  }

  .food img {
      padding: 0 2em 2em;
      max-width: 450px;
      
  }

  .button {
      text-align: center;
      
  }

  .button a {
    cursor: pointer;
    padding: 8px 18px;
    border: 2px solid rgb(8, 110, 110);
    position: relative;
  
  }
  
  .button a:active {
    top: 2px;
  }

nav {
    margin: 2em;

}

nav p {
    text-align: end;
    display: inline;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.col-sm-5 p {
    text-align: center;
}  

.col-sm-5  {
    text-align  : center;
}  

header {
    background-color: darkseagreen;
}

header p {
    display: inline-block;
    font-size: 160%;
    padding-right: 2em;
    padding-top: 1em;
}

footer {
    background-color: darkseagreen;
    padding: 20px 0;
    margin-top: 6rem;
}

footer ul {
    list-style: none;
    
}

footer .col-sm-2 {
    padding-left: 30px;
    
}

footer .col-sm-3 {
    padding-right: 50px;
    
}

.images img {
    display: block;
    margin: auto;
}

/* Card */

.wholeCard {
    width: 500px;
    border: thick dotted darkseagreen;
    border-radius: 0px;
    margin: 10px;
    padding: 5px;
    display: block;
    margin: auto;
}

.cardContent {
    padding: 1em;
    text-align: center;
    background-color: lemonchiffon;
}

.cardContent h3 {
    margin-left: 0px !important;
    
}

.cardText {
    font-style: italic;
    text-align: justify;
}

.cardText h5 {
    position: relative;
    left: 9em;
    top: -10px;
}
.cardImage img {
    width: 350px;
}

#infoBox {
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.2), 5px 5px 5px 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.cardContent a:hover {
    color: red;
}
